{% extends "userprofile/user_admin/new/base.html" %}
{% block fordress %}
<div class="form-group">
    <label for="InputProductDetails">Select Size</label>
    <div class="input-group">
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-primary">&nbsp;For Men</button>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-primary">For Women</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary">For Kids</button>
            </div>
        </div>    
    </div>
</div>
{% endblock fordress %}