{% extends "header.html" %}
{% block externalcss %}
    {{ block.super }}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <meta name="title1" content="profile_me"> -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    
   
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/plugins/scrollbar/src/perfect-scrollbar.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/pages/profile.css">
    <link rel="stylesheet" href="{{STATIC_URL}}assets/css/pages/feature_timeline2.css">
{% endblock externalcss %}
{% block content %}


<div class="wrapper">
    <!--=== Profile ===-->
    <div class="profile">	
        <div class="container content">
        	<div class="row">
                <!--Left Sidebar-->
                <div class="col-md-3 md-margin-bottom-40">
                    <img class="img-responsive profile-img margin-bottom-20" id="p_owner_dp" src="" alt="">

                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item active">
                            <a href="profile.html"><i class="fa fa-bar-chart-o"></i> Overall</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile_me.html"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile_followers.html"><i class="fa fa-group"></i> Followers</a>
                        </li>                                        
                        <li class="list-group-item">
                            <a href="profile_listings.html"><i class="fa fa-cubes"></i> Listings</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile_reviews.html"><i class="fa fa-comments"></i> My Reviews</a>
                        </li>                                        
                        <li class="list-group-item">
                            <a href="profile_timeline.html"><i class="fa fa-history"></i> Timeline</a>
                        </li>                                       
                        <li class="list-group-item">
                            <a href="profile_settings.html"><i class="fa fa-cog"></i> Settings</a>
                        </li> 
                    </ul>  

                    
                </div>
                <!--End Left Sidebar-->
                
                <div class="col-md-9">
                    <!--Profile Body-->
                    <div class="profile-body">
                        <div class="profile-bio">
                            <div class="row">
                                <!-- <div class="col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="{{STATIC_URL}}assets/img/team/5.jpg" alt="">
                                    <a class="btn-u btn-u-sm" href="#">Change Picture</a>
                                </div> -->
                                <div class="col-md-12">
                                    <h2>{{ profile.username }}</h2>
                                    <span><strong>Job:</strong> Web Developer</span>
                                    <span><strong>Position:</strong> Web Designer</span>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                            </div>    
                        </div><!--/end row-->
                                
                        <hr>

                        <div class="row">
                            <!--Social Icons v3-->
                            <div class="col-sm-6 sm-margin-bottom-30">
                                <div class="panel panel-profile">
                                    <div class="panel-heading overflow-h">
                                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Contacts <small>(option 1)</small></h2>
                                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                    </div>
                                    <div class="panel-body">
                                         <ul class="list-unstyled social-contacts-v2">
                                            <li><i class="rounded-x tw fa fa-twitter"></i> <a href="#">edward.rooster</a></li>
                                            <li><i class="rounded-x fb fa fa-facebook"></i> <a href="#">Edward Rooster</a></li>
                                            <li><i class="rounded-x sk fa fa-skype"></i> <a href="#">edwardRooster77</a></li>
                                            <li><i class="rounded-x gp fa fa-google-plus"></i> <a href="#">rooster77edward</a></li>
                                            <li><i class="rounded-x gm fa fa-envelope"></i> <a href="#">edward77@gmail.com</a></li>
                                        </ul>
                                    </div>       
                                </div>
                            </div>
                            <!--End Social Icons v3-->

                            <!--Skills-->
                            <div class="col-sm-6 sm-margin-bottom-30">
                                <div class="panel panel-profile">
                                    <div class="panel-heading overflow-h">
                                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Skills</h2>
                                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                    </div>
                                    <div class="panel-body">
                                        <small>HTML/CSS</small>
                                        <small>92%</small>
                                        <div class="progress progress-u progress-xxs">
                                            <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                                            </div>
                                        </div>

                                        <small>Photoshop</small>
                                        <small>77%</small>
                                        <div class="progress progress-u progress-xxs">
                                            <div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-u">
                                            </div>
                                        </div>

                                        <small>PHP</small>
                                        <small>85%</small>
                                        <div class="progress progress-u progress-xxs">
                                            <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-u">
                                            </div>
                                        </div>

                                        <small>Javascript</small>
                                        <small>81%</small>
                                        <div class="progress progress-u progress-xxs">
                                            <div style="width: 81%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="81" role="progressbar" class="progress-bar progress-bar-u">
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>    
                            <!--End Skills-->            
                        </div><!--/end row-->    

                        <hr>                                

                        <!--Timeline-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Experience</h2>
                                <a href="#"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body margin-bottom-40">
                                <ul class="timeline-v2 timeline-me">
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>Mobile Design</span> <span>2012 - Current</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                            <h2>BFC NYC Partners</h2>
                                            <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p> 
                                        </div>
                                    </li>
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>Web Designer</span> <span>2007 - 2012</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                        <h2>Freelance</h2>
                                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>Photodesigner</span> <span>2003 - 2007</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                        <h2>Toren Condo</h2>
                                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>    
                        </div>
                        <!--End Timeline-->

                        <!--Timeline-->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-mortar-board"></i> Education</h2>
                                <a href="#"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <ul class="timeline-v2 timeline-me">
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>Bachelor of IT</span> <span>2003 - 2000</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                            <h2>Harvard University</h2>
                                            <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p> 
                                        </div>
                                    </li>
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>Web Design</span> <span>1997 - 2000</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                        <h2>Imperial College London</h2>
                                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <time datetime="" class="cbp_tmtime"><span>High School</span> <span>1988 - 1997</span></time>
                                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                        <div class="cbp_tmlabel">
                                        <h2>Chicago High School</h2>
                                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>    
                        </div>
                        <!--End Timeline--> 

                        <hr>

                        <div class="row">
                            <!--Social Contacts v2-->
                            <div class="col-sm-6">
                                <div class="panel panel-profile">
                                    <div class="panel-heading overflow-h">
                                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Social Contacts <small>(option 2)</small></h2>
                                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled social-contacts-v3">
                                            <li><i class="rounded-x tw fa fa-twitter"></i> <a href="#">edward.rooster</a></li>
                                            <li><i class="rounded-x fb fa fa-facebook"></i> <a href="#">Edward Rooster</a></li>
                                            <li><i class="rounded-x sk fa fa-skype"></i> <a href="#">edwardRooster77</a></li>
                                            <li><i class="rounded-x gp fa fa-google-plus"></i> <a href="#">rooster77edward</a></li>
                                            <li><i class="rounded-x gm icon-envelope"></i> <a href="#">edward77@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                            <!--End Social Contacts v2-->

                            <!--Design Skills-->
                            <div class="col-sm-6">
                                <div class="panel panel-profile">
                                    <div class="panel-heading overflow-h">
                                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Language Skills</h2>
                                        <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                             <div class="p-chart col-sm-6 col-xs-6 sm-margin-bottom-10">
                                                <div class="circle margin-bottom-20" id="circle-4"></div>
                                                <h3 class="heading-xs">Engagement Score</h3>
                                                <p>Celery coriander bitterleaf epazote radicchio shallot.</p>
                                            </div> 
                                            <div class="p-chart col-sm-6 col-xs-6">
                                                <div class="circle margin-bottom-20" id="circle-5"></div>
                                                <h3 class="heading-xs">Progfile Completness</h3>
                                                <p>Celery coriander bitterleaf epazote radicchio shallot.</p>
                                            </div>
                                        </div>
                                    </div>       
                                </div>
                            </div>
                            <!--End Design Skills-->            
                        </div><!--/end row-->
                    </div>
                    <!--End Profile Body-->
                </div>
            </div><!--/end row-->
        </div><!--/container-->    
    </div>		
    <!--=== End Profile ===-->

    <!--=== Footer ===-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- About -->
                    <div class="headline"><h2>About</h2></div>  
                    <p class="margin-bottom-25 md-margin-bottom-40">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>    
                    <!-- End About -->

                    <!-- Monthly Newsletter -->
                    <div class="headline"><h2>Monthly Newsletter</h2></div> 
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form class="footer-subsribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">                            
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Subscribe</button>
                            </span>
                        </div>                  
                    </form>                         
                    <!-- End Monthly Newsletter -->
                </div><!--/col-md-4-->  
                
                <div class="col-md-4 md-margin-bottom-40">
                    <!-- Recent Blogs -->
                    <div class="posts">
                        <div class="headline"><h2>Recent Blog Entries</h2></div>
                        <dl class="dl-horizontal">
                            <dt><a href="#"><img src="{{STATIC_URL}}assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                        <dt><a href="#"><img src="{{STATIC_URL}}assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                        <dt><a href="#"><img src="{{STATIC_URL}}assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                            <dd>
                                <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                            </dd>
                        </dl>
                    </div>
                    <!-- End Recent Blogs -->                    
                </div><!--/col-md-4-->

                <div class="col-md-4">
                    <!-- Contact Us -->
                    <div class="headline"><h2>Contact Us</h2></div> 
                    <address class="md-margin-bottom-40">
                        25, Lorem Lis Street, Orange <br />
                        California, US <br />
                        Phone: 800 123 3456 <br />
                        Fax: 800 123 3456 <br />
                        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                    </address>
                    <!-- End Contact Us -->

                    <!-- Social Links -->
                    <div class="headline"><h2>Stay Connected</h2></div> 
                    <ul class="social-icons">
                        <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                        <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                    </ul>
                    <!-- End Social Links -->
                </div><!--/col-md-4-->
            </div>
        </div> 
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2014 &copy; Unify. ALL Rights Reserved. 
                        <a target="_blank" href="https://twitter.com/htmlstream">Htmlstream</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">  
                    <a href="index.html">
                        <img class="pull-right" id="logo-footer" src="{{STATIC_URL}}assets/img/logo2-default.png" alt="">
                    </a>
                </div>
            </div>
        </div> 
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
</div><!--/wrapper-->
{% endblock content %}
{% block externaljs %}
{{ block.super }}
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{STATIC_URL}}assets/plugins/circles-master/circles.js"></script>
<!-- Datepicker Form -->
<script src="{{STATIC_URL}}assets/plugins/sky-forms/version-2.0.1/js/jquery-ui.min.js"></script>
<!-- Scrollbar -->
<script src="{{STATIC_URL}}assets/plugins/scrollbar/src/jquery.mousewheel.js"></script>
<script src="{{STATIC_URL}}assets/plugins/scrollbar/src/perfect-scrollbar.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="{{STATIC_URL}}assets/js/app.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/js/plugins/datepicker.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}assets/js/plugins/circles-master.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
        CirclesMaster.initCirclesMaster1();
    });
</script>
<script>
    jQuery(document).ready(function ($) {
        "use strict";
        $('.contentHolder').perfectScrollbar();
        
    });
</script>
<!--[if lt IE 9]>
    <script src="{{STATIC_URL}}assets/plugins/respond.js"></script>
    <script src="{{STATIC_URL}}assets/plugins/html5shiv.js"></script>
<![endif]-->
{% endblock externaljs %}
	