{% extends "header.html" %}
{% block externalcss %}
<!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/shop.style.css">
     
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/jquery-steps/css/custom-jquery.steps.css">
  
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/theme-colors/default.css">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/css/custom.css">

{% endblock externalcss %}

{% block content %}
<!--=== Content Medium Part ===-->
    <div class="content-md margin-bottom-30" >
        <div class="container">
            <form action="/checkoutform/" method="post" class="shopping-cart">
            {% csrf_token %}
                <div>
                    <div class="header-tags">            
                        <div class="overflow-h">
                            <h2>Shopping Cart</h2>
                            <p>Review &amp; edit your product</p>
                            <i class="rounded-x fa fa-check"></i>
                        </div>    
                    </div>
                    <section>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                {% for r in rc  %}
                                    <tr class="rtr" id="rtr{{ r.id }}" >
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="{{ STATIC_URL }}team.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>{{ r.cart_item_id.product_title }}</h3>
                                                <span>For Rent</span>
                                            </div>    
                                        </td>
                                        <td>Rs. {{ r.cart_item_id.price }}</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty1();' value='-' disabled>-</button>
                                            <input type='text' class="quantity-field rent-qf" name='qty1' value="1" id='{{r.id}}' disabled/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty1").value++;' value='+' disabled>+</button>
                                        </td>
                                        <td class="shop-red">Rs. {{ r.price }}</td>
                                        <td>
                                            <button type="button" class="rclose" id="{{ r.id }}"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for s in sc  %}
                                    <tr class="str" id="str{{ s.id }}" >
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ s.cart_item_id.product_pic }}" alt="">
                                            <div class="product-it-in">
                                                <h3>{{ s.cart_item_id.product_title }}</h3>
                                                <span>For Sale</span>
                                            </div>    
                                        </td>
                                        <td>Rs. {{ s.cart_item_id.sellprice }}</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty1();' value='-' disabled>-</button>
                                            <input type='text' class="quantity-field rent-qf" name='qty1' value="1" id="qty1" disabled />
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty1").value++;' value='+' disabled>+</button>
                                        </td>
                                        <td class="shop-red">Rs. {{ s.price }}</td>
                                        <td>
                                            <button type="button" class="sclose" id="{{ s.id }}"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                                    <!-- <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="{{ STATIC_URL }}assets/img/thumb/07.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>    
                                        </td>
                                        <td>$ 160.00</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty2();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty2' value="3" id='qty2'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty2").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="{{ STATIC_URL }}assets/img/thumb/06.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>    
                                        </td>
                                        <td>$ 160.00</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty3();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty3' value="1" id='qty3'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty3").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="{{ STATIC_URL }}assets/img/thumb/09.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>    
                                        </td>
                                        <td>$ 160.00</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty4();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty4' value="7" id='qty4'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty4").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </section>
                    
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Billing info</h2>
                            <p>Shipping and address info</p>
                            <i class="rounded-x fa fa-home"></i>
                        </div>    
                    </div>
                    <section class="billing-info">
                        <div class="row">
                            <div class="col-md-12 md-margin-bottom-40">
                                <h2 class="title-type">Shipping Address</h2>
                                <div class="billing-info-inputs checkbox-list">
                                
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="name" type="text" placeholder="Name" name="name" class="form-control required">
                                            <!-- <input id="email" type="text" placeholder="Email" name="email" class="form-control required email"> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- <input id="surname" type="text" placeholder="Last Name" name="lastname" class="form-control required"> -->
                                            <input id="phone" type="tel" placeholder="Phone" name="phone" class="form-control required">
                                        </div>
                                    </div>
                                    <input id="billingAddress" type="text" placeholder="Address Line 1" name="add1" class="form-control required">
                                    <input id="billingAddress2" type="text" placeholder="Address Line 2" name="add2" class="form-control required">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="city" type="text" placeholder="City" name="city" class="form-control required">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="zip" type="text" placeholder="Pincode" name="pincode" class="form-control required">
                                        </div>
                                    </div>
                                    <input id="state" type="text" placeholder="State" name="state" class="form-control required">
                                
                                    
                                    
                                    <!-- <label class="checkbox text-left">
                                        <input type="checkbox" name="checkbox"/>
                                        <i></i>
                                        Ship item to the above billing address
                                    </label> -->
                                </div>
                            </div>

                            <!-- <div class="col-md-6">
                                <h2 class="title-type">Shipping Address</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="name2" type="text" placeholder="First Name" name="firstname" class="form-control">
                                            <input id="email2" type="text" placeholder="Email" name="email" class="form-control email">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="surname2" type="text" placeholder="Last Name" name="lastname" class="form-control">
                                            <input id="phone2" type="tel" placeholder="Phone" name="phone" class="form-control">
                                        </div>
                                    </div>
                                    <input id="shippingAddress" type="text" placeholder="Address Line 1" name="address1" class="form-control">
                                    <input id="shippingAddress2" type="text" placeholder="Address Line 2" name="address2" class="form-control">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="city2" type="text" placeholder="City" name="city" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="zip2" type="text" placeholder="Zip/Postal Code" name="zip" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>       
                    </section>
                        
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Payment</h2>
                            <p>Select Payment method</p>
                            <i class="rounded-x fa fa-credit-card"></i>
                        </div>    
                    </div>
                    <section>
                        <div class="row">
                            <div class="col-md-6 md-margin-bottom-50">
                                <h2 class="title-type">Payment Procedure.</h2>
                                <!-- Accordion -->
                                <div class="accordion-v2">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <i class="fa fa-credit-card"></i>
                                                        Payment-in-hand
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body cus-form-horizontal">
                                                    <h4>Thank you for shopping with us. As of now, we are dealing with the payments manually. Our executive will visit your place in few days to continue the transaction.</h4>
                                                    <br />
                                                    <h4><b>Have a good day !!</b></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                        <i class="fa fa-paypal"></i>
                                                        Pay with PayPal
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="content margin-left-10">
                                                    <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- End Accordion -->    
                            </div>

                            <div class="col-md-6">
                                <h2 class="title-type">Frequently asked questions</h2>
                                <!-- Accordion -->
                                <div class="accordion-v2 plus-toggle">
                                    <div class="panel-group" id="accordion-v2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseOne-v2">
                                                        What payments methods can I use?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne-v2" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo-v2">
                                                        Can I use gift card to pay for my purchase?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseThree-v2">
                                                        Will I be charged when I place my order?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseFour-v2">
                                                        How long will it take to get my order?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.    
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                <!-- End Accordion -->    
                            </div>
                        </div>
                    </section>

                    <div class="coupon-code">
                        <div class="row">
                            <div class="col-sm-4 sm-margin-bottom-30">
                                
                            </div>
                            <div class="col-sm-3 col-sm-offset-5">
                                <ul class="list-inline total-result">
                                    <li>
                                        <h4>Subtotal:</h4>
                                        <div class="total-result-in" id="subtotal">
                                            <span>Rs. {{ total }}</span>
                                        </div>    
                                    </li>    
                                    <li>
                                        <h4>Shipping:</h4>
                                        <div class="total-result-in" id="shipping">
                                            <span class="text-right">- - - -</span>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="total-price">
                                        <h4>Total:</h4>
                                        <div class="total-result-in" id="grosstotal">
                                            <span>Rs. {{ total }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </form>
        </div><!--/end container-->
    </div>
    <!--=== End Content Medium Part ===--> 
{% endblock content %}
{% block externaljs %}
{{ block.super }}
<!-- JS Global Compulsory -->           
<script src="{{ STATIC_URL }}assets/plugins/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="{{ STATIC_URL }}assets/plugins/back-to-top.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/jquery-steps/build/jquery.steps.js"></script>
<!-- Scrollbar -->
<script src="{{ STATIC_URL }}assets/plugins/scrollbar/src/jquery.mousewheel.js"></script>
<script src="{{ STATIC_URL }}assets/plugins/scrollbar/src/perfect-scrollbar.js"></script>
<!-- JS Customization -->
<script src="{{ STATIC_URL }}assets/js/custom.js"></script>
<!-- JS Page Level -->

<script src="{{ STATIC_URL }}assets/plugins/jquery.parallax.js"></script>
<script src="{{ STATIC_URL }}assets/js/shop.app.js"></script>
<script src="{{ STATIC_URL }}assets/js/forms/page_login.js"></script>
<script src="{{ STATIC_URL }}assets/js/plugins/stepWizard.js"></script>
<script src="{{ STATIC_URL }}assets/js/forms/product-quantity.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        Login.initLogin();
        StepWizard.initStepWizard();      
});
</script>
<script type="text/javascript">
    $(function(){
        $('.rclose').click(function(){
            var rid = $(this).attr("id");
            $.ajax({
                url : "/delete-from-rent-cart/",
                data : $.param({ id:rid }),
                type : "GET",
                success : function(data){
                    if(data['suc'] == 1){
                        alert("Deleted from cart");
                        $("#rtr"+rid).remove();
                        $("#subtotal span").html("Rs. "+data['total']);
                        $("#grosstotal span").html("Rs. "+data['total']);

                    }
                },
                error : function(response,status,error){
                    alert(error);
                }

            });
        });
        $('.sclose').click(function(){
            var sid = $(this).attr("id");
            $.ajax({
                url : "/delete-from-sale-cart/",
                data : $.param({ id:sid }),
                type : "GET",
                success : function(data){
                    if(data['suc'] == 1){
                        alert("Deleted from cart");
                        $("#str"+sid).remove();
                        $("#subtotal span").html("Rs. "+data['total']);
                        $("#grosstotal span").html("Rs. "+data['total']);
                    }
                },
                error : function(response,status,error){
                    alert(error);
                }

            });
        });
    });
</script>

{% endblock externaljs %}